body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Zeitstrahl-Elemente */
.timeline-container {
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}
.timeline {
  width: auto; /* Breite des Zeitstrahls */
  height: 100px; /* Höhe des Zeitstrahls */
  background-color: #f0f0f0;
  position: relative;
  white-space: nowrap;
}
.scrollable-timeline {
  overflow: auto;
  position: relative;
  white-space: nowrap;
}
.years {
  display: flex;
  align-items: center;
  padding: 10px;
}
.year {
  width: 50px; /* Breite der Jahr-Elemente */
  height: 50px; /* Höhe der Jahr-Elemente */
  background-color: #3498db;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.year:hover {
  background-color: #2980b9;
}
.line {
  height: 6px;
  width: 100px;
  background: #3498db;
  top: 50%;
}

/* Meilensteine */
.content {
  width: 80%;
  margin: 0 auto;
}
.milestone {
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.milestone h2 {
  color: #333;
  text-align: center;
}
.milestone p {
  color: #666;
}

/* Comic-Elemente */
.comic {
  width: 50%;
}
.comicsmall {
  width: 25%;
  height: 25%;
}
.bild {
  text-align: center;
}

/* Link-Elemente */
#link {
  text-decoration: none; /* Entfernt die Standard-Unterstreichung des Links */
  background-color: #3498db; /* Hintergrundfarbe des Links */
  color: #ffffff; /* Textfarbe des Links */
  padding: 10px 20px; /* Innenabstand für den Link */
  border-radius: 5px; /* Runde Ecken */
  font-weight: bold; /* Fetter Text */
  transition: background-color 0.3s;
}
#link :hover {
  background-color: #2471a3;
}

/*
.zukunft {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  text-align: center;
}
*/
